{include file="/Public/header"}

<title>添加公司</title>
<meta name="keywords" content="优科达">
<meta name="description" content="优科达">
</head>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>公司名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="name" name="name">
            </div>
        </div> 
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>统一社会信用代码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="license_number" name="license_number">
            </div>
        </div> 
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="address" name="address">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>法人代表：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="legal" name="legal">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>联系电话：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="legal_mobile" name="legal_mobile">
            </div>
        </div>
        <div class="row cl zhanghu" >
            <div id="rent">
                <div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">银行账户：</label>
            <div class="formControls col-xs-8 col-sm-6"> <span class="select-box">
                <select class="select" size="1" name="bankname[]">
                    <option value="" selected>请选择开户银行</option>
                    {volist name="bank" id="v"}
                    <option value="{$v['id']}">{$v['name']}</option>
                    {/volist}
                </select>
                </span> </div>
        </div>
        <div class="row cl" >
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>银行账号：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text" placeholder="@" name="bank_number[]" />
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>银行户名：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text" placeholder="@" name="bank_name[]" />
            </div>
            <div>
                <span class='btn  radius ppremoveline'><i class='Hui-iconfont'>&#xe6a1;</i> </span>
            </div>
        </div>
        </div>
        </div>
        </div>
        <a onclick="addChargeItem('rent')" class="btn btn-default btn-sm">添加</a>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">对接联系人：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="contact" name="contact">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">手机：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="contact_mobile" name="contact_mobile">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">固定电话：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="contact_phone" name="contact_phone">
            </div>
        </div>
         
        
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="remark" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" onKeyUp="$.Huitextarealength(this,100)"></textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

{include file="/Public/footer"}

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="__PUBLIC__admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
$(function(){
    $(".zhanghu").delegate(".ppremoveline","click",function(){
        $(this).parent().parent().parent().remove();
        return false;
    });
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
    
    $("#form-member-add").validate({
        rules:{
            name:{
                required:true,
                minlength:2,
                maxlength:16
            },
            license_number:{
                required:true,
                number:true,
            },
            address:{
                required:true,
            },
            legal:{
                required:true,
            },
            legal_mobile:{
                required:true,
                isMobile:true,
            },
            "bank_number[]":{
                required:true,
                number:true,
            },
            "bank_name[]":{
                required:true,
            },
            contact_mobile:{
                isMobile:true,
            }
            
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            $(form).ajaxSubmit({
                type: 'post',
                url: "{:url('Cuscontract/company_add')}",
                success: function(data){
                    if(data['type'] == 1){
                        layer.msg('添加成功!');
                        setTimeout(function () {
                            parent.$('#parentIframe1').val(data['message']);
                            parent.$('#parentIframe1').next('input').val(data['id']);
                            parent.layer.close(index);
                            },1000)
                    }else{
                        layer.msg(data['message']);
                    }
                },
            });
        }
    });
});
var items_hash ={'rent':2};
function addChargeItem(item_type) {
    var html ='<div><div class="row cl"><label class="form-label col-xs-4 col-sm-3">银行账户：</label>' +
        '<div class="formControls col-xs-8 col-sm-6"> <span class="select-box">' +
        '<select class="select" size="1" name="bankname[]">' +
        '<option value="" selected>请选择开户银行</option>' +
        '{volist name="bank" id="v"}<option value="{$v["id"]}">{$v["name"]}</option>{/volist}'+
        '</select>' +
        ' </span> </div>' +
        '</div>' +
        '<div class="row cl" >' +
        '<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>私人账号：</label>' +
        '<div class="formControls col-xs-8 col-sm-6">' +
        '<input type="text" class="input-text" placeholder="@" name="bank_number[]" />' +
        '</div>' +
        '</div>' +
        '<div class="row cl">' +
        '<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>私人户名：</label>' +
        '<div class="formControls col-xs-8 col-sm-6">' +
        '<input type="text" class="input-text" placeholder="@" name="bank_name[]" />' +
        '</div>' +
        '<div>' +
        '<span class="btn  radius ppremoveline"><i class="Hui-iconfont">&#xe6a1;</i> </span></div></div></div>';
    document.getElementById(item_type).insertAdjacentHTML('beforeEnd',html);
    items_hash[item_type]++;
    //潘潘加a链接无跳转效果
    return false;
}
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>