{include file="/Public/header"}

<title>合同修改</title>
<style type="text/css">
    .li-date{
        width: 47.5%;
    }
    .li-transformer{
        width: 30%;
    }
</style>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    业主管理
    <span class="c-gray en">&gt;</span>
    合同修改
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <form class="form form-horizontal" id="form-article-add">
        <div id="tab-system" class="HuiTab">
            <div class="tabBar cl">
                <span>合同设置</span>
                <span style="display: none">租金设置</span>
                <span style="display: none">电费设置</span>
                <span style="display: none">水费设置</span>
                <span style="display: none">维修基金</span>
                <span style="display: none">其他费用</span>
                <span style="display: none">税率设置</span>
            </div>
            <input name="id" type="hidden" value="{$res['cus']['id']}">
            <div class="tabCon"> 
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>合同号：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$res['cus']['contract_num']}" placeholder="" id="" name="contract_num">
                    </div>
                </div> 
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>出租方：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                    <div class="formControls col-xs-8 col-sm-6">
                       <div class="formControls col-xs-8 col-sm-9" style="position: relative;">
                    <input type="text" class="input-text company_input" value="{$res['cus']['lease_name']}" placeholder="" id="parentIframe" name="lease_name" autocomplete="off">
                    <input type="hidden" name="lease_id" value="{$res['cus']['lease_id']}">
                    <ul class="keyword_company keyword">

                    </ul>
                </div>
                        </div>
                        <div class="formControls col-xs-8 col-sm-3">
                        <a href="javascript:;" onclick="tjyz();" class="btn btn-primary radius input-text"><i class="Hui-iconfont">&#xe600;</i> 添加出租方</a>
                        </div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>承租方：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <div class="formControls col-xs-8 col-sm-6">
                         <div class="formControls col-xs-8 col-sm-9" style="position: relative;">
                    <input type="text" class="input-text bank_input" value="{$res['cus']['tenantry_name']}" placeholder="" id="parentIframe1" name="ctenantry_name" autocomplete="off">
                    <input type="hidden" name="ctenantry_id" value="{$res['cus']['tenantry_id']}">
                    <ul class="keyword_bank keyword">
                    </ul>
                </div>
                        </div>
                        <div class="formControls col-xs-8 col-sm-3">
                            <a href="javascript:;" onclick="tjczf();" class="btn btn-primary radius input-text"><i class="Hui-iconfont">&#xe600;</i> 添加承租方</a>
                        </div>
                        </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>园区：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <div class="formControls col-xs-8 col-sm-6">
                         <div class="formControls col-xs-8 col-sm-9" style="position: relative;">
                    <input type="text" class="input-text money_input" value="{$res['cus']['park_name']}" placeholder="" id="tjyqs" name="park_n" autocomplete="off">
                     <input type="hidden" name="park_id" value="{$res['cus']['park_id']}">
                    <ul class="keyword_money keyword">
                    </ul>
                </div>
                        </div>
                        <div class="formControls col-xs-8 col-sm-3">
                            <a href="javascript:;"  onclick="tjyq();" class="btn btn-primary radius input-text"><i class="Hui-iconfont">&#xe600;</i> 添加园区</a>
                        </div>
                        </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>承租面积：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$res['cus']['lessee_area']}" placeholder="" id="" name="lessee_area">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>出租面积：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$res['cus']['lease_area']}" placeholder="" id="" name="lease_area">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>经营范围：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$res['cus']['business_scope']}" placeholder="" id="username" name="business_scope">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>客户来源：</label>
                    <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                        <select class="select" size="1" name="client_source">
                            {volist name="res['khly']" id="vo"}
                                    {if $vo.id eq $res['cus']['client_source']}
                                    <option value="{$vo.id}" >{$vo.name}</option>
                                    {/if}
                            {/volist}
                            <option value="" >请选择客户来源</option>
                            {volist name="res['khly']" id="vo"}
                                    {if $vo.id neq $res['cus']['client_source']}
                                    <option value="{$vo.id}" >{$vo.name}</option>
                                    {/if}
                            {/volist}
                        </select>
                        </span> </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>租期：</label>
                    <div class="formControls col-xs-4 col-sm-9">
                        <input type="text" onfocus="WdatePicker({maxDate:'#F{\$dp.\$D(\'datemax\')}'})" id="datemin" class="input-text Wdate li-date" name="ztime_begin" value="{$res['cus']['time_begin']}">
                        至<input type="text" onfocus="WdatePicker({minDate:'#F{\$dp.\$D(\'datemin\')}'})" id="datemax" class="input-text Wdate li-date" name="ztime_end" value="{$res['cus']['time_end']}">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>起租日期</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" onfocus="WdatePicker({minDate:'#F{\$dp.\$D(\'datemin\')}',maxDate:'#F{\$dp.\$D(\'datemax\')}'})"  class="input-text Wdate li-date" name="time_effect" value="{$res['cus']['time_effect']}">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">备注：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <textarea name="remark" cols="" rows="" class="textarea">{$res['cus']['remark']}</textarea>
                    </div>
                </div>   
            </div>
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>押金：</label>
                    <div class="formControls col-xs-8 col-sm-3">
                        <input type="text" class="input-text" value="{$res['cus']['deposit']}" placeholder="" id="" name="deposit">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>基本租金：</label>
                    <div class="formControls col-xs-8 col-sm-3">
                        <input type="text" class="input-text" value="{$res['cus']['basic_rent']}" placeholder="" id="username" name="basic_rent">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>首次租金：</label>
                    <div class="formControls col-xs-8 col-sm-6">
                        <input type="text" class="input-text" value="{$res['cus']['first_rent']}" placeholder="" id="username" name="first_rent">
                        <input type="text" onfocus="WdatePicker({maxDate:'#F{\$dp.\$D(\'datemax\')}'})" id="datemin" class="input-text Wdate li-date" name="first_time_begin" value="{$res['cus']['first_time_begin']}">
                        至<input type="text" onfocus="WdatePicker({minDate:'#F{\$dp.\$D(\'datemin\')}'})" id="datemax" class="input-text Wdate li-date" name="first_time_end" value="{$res['cus']['first_time_end']}">
                    </div>
                </div>
                <div id="rent">
                {volist name="res['rent']" id="vo"}
                <div style="border:solid 1px #ddd">
                    <span class='btn   radius ppremoveline'><i class="Hui-iconfont">&#xe6a1;</i> </span>
                    <div class="row cl">
                        <label class="form-label col-xs-4 col-sm-3">月租类型：</label>
                        <div class="formControls col-xs-4 col-sm-3"> <span class="select-box">
                        <select class="select" size="1" name="monthly_type[]">
                            <option value="">请选择月租类型</option>
                            <option value="1" {if $vo.monthly_type eq 1}selected{/if}>固定租金</option>
                            <option value="2" {if $vo.monthly_type eq 2}selected{/if}>比例租金（如 填写1为增加百分之一的租金）</option>
                        </select>
                        </span>
                        </div>
                    </div>
                    <div class="row cl gg">
                        <label class="form-label col-xs-4 col-sm-3"> </label>
                        <div class="formControls col-xs-4 col-sm-3">
                            <input type="text" class="input-text" value="{$vo.monthly_value}" placeholder="" id="" name="monthly_value[]">
                        </div>
                    </div>
                    <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>时间：</label>
                    <div class="formControls col-xs-4 col-sm-5">
                        <input type="text" onfocus="WdatePicker({maxDate:'#F{\$dp.\$D(\'date1max\')}'})" id="date1min" class="input-text Wdate li-date" name="time_begin[]" value="{$vo.time_begin}">
                        至<input type="text" onfocus="WdatePicker({minDate:'#F{\$dp.\$D(\'date1min\')}'})" id="date1max" class="input-text Wdate li-date" name="time_end[]" value="{$vo.time_end}">
                    </div>
                </div> 
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>租金：</label>
                    <div class="formControls col-xs-4 col-sm-3">
                        <input type="text" class="input-text" value="{$vo.rent}" placeholder="" id="username" name="rent[]">
                    </div>
                </div>
                </div>
                {/volist}
                </div>
                <a onclick="addChargeItem('rent')" class="btn btn-default btn-sm">添加</a>
            </div>
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">变压器：</label>
                    <div id="transformer" class="formControls col-xs-8 col-sm-8 ">
                    {volist name="res['transf']" id="vo"}
                    <div class="formControls col-xs-8 col-sm-12 ">
                        <input type="text"  class="input-text li-transformer"   placeholder="数量" name="number[]" value="{$vo.number}">
                        <input type="text"  class="input-text li-transformer"  placeholder="详情（如500KW）" name="details[]" value="{$vo.details}">
                        <button class='btn  ppremoveline' style="width: 10%"><i class="Hui-iconfont">&#xe6a1;</i> </button>
                    </div>
                    {/volist}
                    </div>
                    <a onclick="addtransformerItem('transformer')" class="btn btn-default btn-sm">添加</a>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>电费押金：</label>
                    <div class="formControls col-xs-8 col-sm-4">
                        <input type="text" class="input-text" value="{$res['cus']['ele_deposit']}" placeholder="" id="username" name="ele_deposit">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">所属电表：</label>
                    <div id="electric" class="formControls col-xs-8 col-sm-8 ">
                    {volist name="res['ele']" id="vo" key=key}
                        <div id="chsl">
                    <div class="formControls col-xs-8 col-sm-12">
                        <div class="formControls col-xs-8 col-sm-5">
                             <div class="formControls col-xs-8 col-sm-9" style="position: relative;">
                                <input type="text" class="input-text yq_input_{$key}" value="{$vo.park_name}" placeholder="请填写电表所在园区" id="" name="dtenantry_id[]" style="width:336px;margin-left:-15px;" autocomplete="off" value="{$vo.park_name}">
                                <input type="hidden" name="dtenantry_zid[]" value="{$vo.park_id}">
                                <ul class="keyword_yq_{$key} keyword">
                                </ul>
                            </div>
                        </div>
                        <div class="formControls col-xs-8 col-sm-4">
                            <input type="text" class="input-text" value="{$vo.name}" placeholder="电表名" id="username" name="d_name[]">
                        </div>
                        <button class='btn ppremovelineelectric' style="width: 10%"><i class="Hui-iconfont">&#xe6a1;</i> </button>
                    </div>
                    <div class="formControls col-xs-8 col-sm-12">
                            <div class="formControls col-xs-8 col-sm-3">
                                <input type="text" class="input-text" value="{$vo.init_record}" placeholder="电表初始度数" id="username" name="d_init_record[]">
                            </div>
                            <div class="formControls col-xs-8 col-sm-2">
                                <input type="text" class="input-text" value="{$vo.rate}" placeholder="电表倍率" id="username" name="d_rate[]">
                            </div>
                            <div class="formControls col-xs-8 col-sm-2">
                                <input type="text" class="input-text" value="{$vo.loss}" placeholder="损耗" id="username" name="d_loss[]">
                            </div>
                    </div>

                        <div class="formControls col-xs-8 col-sm-12">
                            <div  id="contract-price{if $vo.num neq 0}{$vo.ks}{/if}">
                            {volist name="vo.son" id='v' key=key}
                                <div class="formControls col-xs-8 col-sm-10">
                                    <input type="text" class="input-text li-transformer"  placeholder="开始读数"  name="d_readings_begin_{$key}[]" value="{$v.readings_begin}">
                                    <input type="text" class="input-text li-transformer"   placeholder="结束读数" name="d_readings_end_{$key}[]" value="{$v.readings_end}">
                                    <input type="text" class="input-text li-transformer"   placeholder="单价"  name="d_price_{$key}[]" value="{$v.price}">
                                    <button class='btn ppremoveline' style="width: 7%"><i class="Hui-iconfont">&#xe6a1;</i> </button>
                                </div>
                                {/volist}
                            </div>
                            <a onclick="addcontractpriceItem('contract-price{if $vo.num neq 0}{$vo.ks}{/if}',{$vo.num})" class="btn btn-default btn-sm">添加</a>
                        </div>
                    </div>
                    {/volist}
                    </div>
                    <a onclick="addelectricItem('electric')" class="btn btn-default btn-sm">添加</a>
                </div>
            </div>
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>水费押金：</label>
                    <div class="formControls col-xs-8 col-sm-4">
                        <input type="text" class="input-text" value="{$res['cus']['water_deposit']}" placeholder="" id="username" name="water_deposit">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">所属水表：</label>
                    <div id="water" class="formControls col-xs-8 col-sm-8 ">
                    {volist name="res['water']" id="vo" key=key}
                        <div>
                        <div class="formControls col-xs-8 col-sm-12">
                            <div class="formControls col-xs-8 col-sm-2">
                                <div class="formControls col-xs-8 col-sm-9" style="position: relative;">
                                    <input type="text" class="input-text sb_input_{$key}" value="{$vo.park_name}" placeholder="请填写水表所在园区" id="" name="stenantry_id[]" style="width:117px;margin-left:-15px;" autocomplete="off">
                                    <input type='hidden' name='stenantry_zid[]'  value="{$vo.park_id}">
                                    <ul class="keyword_sb_{$key} keyword">
                                    </ul>
                                </div>
                            </div>
                            <div class="formControls col-xs-8 col-sm-2">
                                <input type="text" class="input-text" value="{$vo.name}" placeholder="水表名" name="park_name[]">
                            </div>
                            <div class="formControls col-xs-8 col-sm-2">
                                <input type="text" class="input-text" value="{$vo.init_record}" name="s_init_record[]" placeholder="初始度数">
                            </div>
                            <button class='btn ppremovelines' style="width: 10%"><i class="Hui-iconfont">&#xe6a1;</i> </button>
                        </div>
                        <div class="formControls col-xs-8 col-sm-12">
                            <div class="formControls col-xs-8 col-sm-2">
                                <input type="text" class="input-text" value="{$vo.rate}" placeholder="倍率" name="s_rate[]">
                            </div>
                            <div class="formControls col-xs-8 col-sm-2">
                                <input type="text" class="input-text" value="{$vo.loss}" placeholder="损耗" name="s_loss[]">
                            </div>
                            <div class="formControls col-xs-8 col-sm-2">
                                <input type="text" class="input-text" value="{$vo.share}" placeholder="分摊比例" name="s_share[]">
                            </div>
                        </div>
                        <div class="formControls col-xs-8 col-sm-12">
                            <div class="formControls col-xs-8 col-sm-10" id="water-price{if $vo.num neq 0}{$vo.ks}{/if}">
                                {volist name="vo.son" id="v" key=key}
                                <div class="formControls col-xs-8 col-sm-12">
                                    <input type="text" class="input-text li-transformer"  placeholder="开始读数"  name="s_readings_begin_{$key}[]" value="{$v.readings_begin}">
                                    <input type="text" class="input-text li-transformer"   placeholder="结束读数"  name="s_readings_end_{$key}[]" value="{$v.readings_end}">
                                    <input type="text" class="input-text li-transformer"   placeholder="单价" name="s_price_{$key}[]" value="{$v.price}">
                                    <button class='btn ppremoveline' style="width: 7%"><i class="Hui-iconfont">&#xe6a1;</i> </button>
                                </div>
                                {/volist}
                            </div>
                            <a onclick="addcontractpriceItem('water-price',{$key})" class="btn btn-default btn-sm">添加</a>
                        </div>
                        </div>
                        {/volist}
                    </div>
                    <a onclick="addwaterItem('water')" class="btn btn-default btn-sm">添加</a>
                </div>

            </div>
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">维修基金：</label>
                    <div class="formControls col-xs-4 col-sm-3"> <span class="select-box">
                        <select class="select" size="1" name="city">
                            <option value="" selected>请选择维修基金类型</option>
                            <option value="1">按当月电费百分比交，以设置费用为起始值</option>
                            <option value="2">根据实际情况选择递增方式</option>
                            <option value="3">按固定费用交</option>
                            <option value="4">按电费百分比交</option>
                            <option value="4">按水费百分比交</option>
                        </select>
                        </span> </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>最低费用：</label>
                    <div class="formControls col-xs-8 col-sm-4">
                        <input type="text" class="input-text" value="" placeholder="填写最低费用" >
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>费用比例：</label>
                    <div class="formControls col-xs-8 col-sm-4">
                        <input type="text" class="input-text" value="" placeholder="填写费用比例" >
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>最高费用：</label>
                    <div class="formControls col-xs-8 col-sm-4">
                        <input type="text" class="input-text" value="" placeholder="填写最高费用" >
                    </div>
                </div>
            </div>
            <div class="tabCon">
                <div id="other">
                    {volist name="res['fyong']" id="vo"}
                    <div style="border:solid 1px #ddd">
                        <span class='btn   radius ppremoveline'><i class="Hui-iconfont">&#xe6a1;</i> </span>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">费用科目：</label>
                            <div class="formControls col-xs-4 col-sm-3"> <span class="select-box">
                            <select class="select" size="1" name="exacct[]">
                            {volist name="res['fy']" id="v"}
                              {if $v.id  eq $vo.exacct}
                                <option value="{$v.id}">{$v.name}</option>
                              {/if}
                            {/volist}
                                <option value="">请选择租金类型</option>
                            {volist name="res['fy']" id="v"}
                                <option value="{$v.id}">{$v.name}</option>
                            {/volist}
                            </select>
                            </span> </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3">月租类型：</label>
                            <div class="formControls col-xs-4 col-sm-3"> <span class="select-box">
                        <select class="select" size="1" name="y_monthly_type[]">
                            {if $vo.monthly_type eq 1}<option value="1">固定租金</option>{/if}
                            <option value="">请选择月租类型</option>
                            <option value="1">固定租金</option>
                            <!-- <option value="2">比例租金（如 填写1为增加百分之一的租金）</option> -->
                        </select>
                        </span>
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3"> </label>
                            <div class="formControls col-xs-4 col-sm-3">
                                <input type="text" class="input-text" value="{$vo.monthly_value}" placeholder="" id="username" name="y_monthly_value[]">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>时间：</label>
                            <div class="formControls col-xs-4 col-sm-5">
                                <input type="text" onfocus="WdatePicker({maxDate:'#F{\$dp.\$D(\'date1max\')}'})" id="date1min" class="input-text Wdate li-date" name="y_time_begin[]" value="{$vo.time_begin}">
                                至<input type="text" onfocus="WdatePicker({minDate:'#F{\$dp.\$D(\'date1min\')}'})" id="date1max" class="input-text Wdate li-date" name="y_time_end[]" value="{$vo.time_end}">
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>租金：</label>
                            <div class="formControls col-xs-4 col-sm-3">
                                <input type="text" class="input-text" value="{$vo.rent}" placeholder="" id="username" name="y_rent[]">
                            </div>
                        </div>
                    </div>
                    {/volist}
                </div>
                <a onclick="addChargeItem('other')" class="btn btn-default btn-sm">添加</a>
            </div>
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">税率类型：</label>
                    <div class="formControls col-xs-4 col-sm-3"> <span class="select-box">
                        <select class="select" size="1" name="city">
                            <option value="" selected>请选择税率类型</option>
                            <option value="1">按当月房租费</option>
                            <option value="3">按固定费用交</option>
                            <option value="4">按电费百分比交</option>
                            <option value="4">按水费百分比交</option>
                        </select>
                        </span> </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">按当月房租费：</label>
                    <div class="formControls col-xs-4 col-sm-3">
                        <input type="text" class="input-text" value="" placeholder="填写房租费百分比" >
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">当月固定费：</label>
                    <div class="formControls col-xs-4 col-sm-3">
                        <input type="text" class="input-text" value="" placeholder="填写当月固定费" >
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">电费百分比：</label>
                    <div class="formControls col-xs-4 col-sm-3">
                        <input type="text" class="input-text" value="" placeholder="填写电费百分比" >
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">水费百分比：</label>
                    <div class="formControls col-xs-4 col-sm-3">
                        <input type="text" class="input-text" value="" placeholder="填写水费百分比" >
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2" id="submit">
                <button class="btn btn-primary radius" type="submit" style="display: none" id="sub"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                <button  class="btn btn-primary radius" type="submit" id="Previous"><i class="Hui-iconfont">&#xe6d4;</i>上一步</button>
                <button  class="btn btn-primary radius" type="submit" id="Next">下一步<i class="Hui-iconfont">&#xe6d7;</i> </button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
<div style="display:none" id="fyid">
                <option value="" selected>请选择租金类型</option>
                {volist name="res['fy']" id="vo"}
                <option value="{$vo.id}">{$vo.name}</option>
                {/volist}
</div>

{include file="/Public/footer"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(".gg").on("change keyup","input",function(){
        var zhi = parseInt($("input[name=basic_rent]").val());
        var plt = parseInt($(this).val());
        var sel = parseInt($(this).parent().parent().parent().find(".select").val());
        var zj = $(this).parent().parent().parent().find("input[name='rent[]']");
        if(sel == 1){
            zj.val(plt);
        }else if(sel == 2){
            zj.val(zhi*plt/100+zhi);
        }
    })
$(function(){
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
    //公司
    keyword($(".company_input"),$(".keyword_company"),1);
    //账户
    keyword($(".bank_input"),$(".keyword_bank"),2);
    //财务
    keyword($(".money_input"),$(".keyword_money"),3);
    //管理人
    keyword($(".sb_input_0"),$(".keyword_sb_0"),3);
    {volist name="res['ele']" id="vo" key=key}
        keyword($(".yq_input_{$vo.num}"),$(".keyword_yq_{$vo.num}"),3);
    {/volist}
    {volist name="res['water']" id="vo" key=key}
        keyword($(".sb_input_{$vo.num}"),$(".keyword_sb_{$vo.num}"),3);
    {/volist}
    /*keyword模糊搜索函数
     * input输入框
     * downmask下拉框
     *     
     * */
     function keyword(input,downmask,type){
        input.bind('input porpertychange',function(e){
            var val = $(this).val();
            input.next("input").val('');
            if(val){
                $.ajax({
                    type:"post",
                    url:"{:url('Cuscontract/cuscontract_find')}",
                    data:{val:val,type:type},
                    success:function(data){
                        downmask.html(data);
                        downmask.show();
                        downmask.find('li').mouseover(function(e){
                            $(this).css('background-color','#5a98de');
                            $(this).css('color','#fff');
                            $(this).siblings().css('background-color','');
                            $(this).siblings().css('color','');
                        })
                        downmask.find('li').bind('click').on('click',function(e){
                            e.stopPropagation();
                            id = $(this).attr("li_id");
                            input.next("input").val(id);
                            input.val($(this).html());
                            $(this).closest('ul').hide();
                        })
                    },
                    async:true
                });
            }else{
                downmask.hide();
            }
            $(document).click(function(e){
                e.stopPropagation();
                downmask.hide();
            })
        })
    }
     
});
</script> 
<script type="text/javascript">
function tjyz(){
    layer.open({
    type: 2,
    area: ['80%', '550px'],
    fixed: false, //不固定
    maxmin: true,
    title:"添加业主",
    content: "{:url('Cuscontract/detailed_add')}"
    });
}
function tjyq(){
    layer.open({
    type: 2,
    area: ['80%', '550px'],
    fixed: false, //不固定
    maxmin: true,
    title:"添加园区",
    content: "{:url('Cuscontract/garden_add')}"
    });
}
function tjczf(){
    layer.open({
    type: 2,
    area: ['80%', '550px'],
    fixed: false, //不固定
    maxmin: true,
    title:"添加公司",
    content: "{:url('Cuscontract/company_add')}"
    });
}
$(function(){
    var i=0;
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });

//  $("#tab-system").Huitab({
//      index:0
//  });
    $(".tabCon").delegate(".ppremoveline","click",function(){
        $(this).parent().remove();
        return false;
    });
    $(".tabCon").delegate(".ppremovelines","click",function(){
        $(this).parent().parent().remove();
        return false;
    });
    $(".tabCon").delegate(".ppremovelineelectric","click",function(){
        $(this).parent().parent().remove();
        return false;
    });
    $("#submit").delegate("#Previous","click",function(){
        var leng=0;
        if(leng>=i){
            i=leng;
        }else{
            i=i-1;
        }
        $.Huitab("#tab-system .tabBar span","#tab-system .tabCon","current","click",i);
        return false;
    });
    $("#submit").delegate("#Next","click",function(){
        var $tab_menu=$("#tab-system .tabCon");
        var leng=$tab_menu.length-1;
        if(leng<=i){
            $('#sub').css('display','');
            i=leng;
        }else{
            i=i+1;
        }

        $.Huitab("#tab-system .tabBar span","#tab-system .tabCon","current","click",i);
        return false;
    });
    $(function(){
        $.Huitab("#tab-system .tabBar span","#tab-system .tabCon","current","click",i)});
    jQuery.Huitab =function(tabBar,tabCon,class_name,tabEvent,i){

        var $tab_menu=$(tabBar);
        // 初始化操作
        $tab_menu.removeClass(class_name);
        $(tabBar).eq(i).addClass(class_name);
        $(tabBar).eq(i).css('display','');
        $(tabCon).hide();
        $(tabCon).eq(i).show();

        $tab_menu.bind(tabEvent,function(){
            $tab_menu.removeClass(class_name);
            $(this).addClass(class_name);
            var index=$tab_menu.index(this);
            $(tabCon).hide();
            $(tabCon).eq(index).show()})}
});
function member_add(title,url,w,h){
    layer_show(title,url,w,h);
}
var items_hash ={'rent':2,'transformer': 0,'electric':0,'contract-price':0,'water':0,'water-price':0,'other':0};
    var date='2017-06-25';
    function addChargeItem(item_type,begin,end,val) {
        var html = "<div style='border:solid 1px #ddd'><span class='btn  radius ppremoveline'><i class='Hui-iconfont'>&#xe6a1;</i> </span>";
        if(!begin){
            begin=date;
        }
        if(!end){
            end=date;
        }
        if(!val){
            val=0;
        }
        var fyid = $("#fyid").html();
        var maxDateid="date"+items_hash[item_type]+"max";
        var minDateid="date"+items_hash[item_type]+"min";
        var maxDate="{maxDate:'#F{\$dp.\$D(\\'"+maxDateid+"\\')}'}";
        var minDate="{minDate:'#F{\$dp.\$D(\\'"+minDateid+"\\')}'}";
        if(item_type=='other'){
            html += "<div class='row cl'> <label class='form-label col-xs-4 col-sm-3'>费用科目</label> <div class='formControls col-xs-4 col-sm-3'> <span class='select-box'><select class='select' size='1' name='exacct[]'>"+fyid+"</select></span> </div></div>";
        }
        //添加日期js结束

        if(item_type=='other'){
            html += "<div class='row cl'> <label class='form-label col-xs-4 col-sm-3'>月租类型：</label> <div class='formControls col-xs-4 col-sm-3'> <span class='select-box'><select class='select' size='1' name='y_monthly_type[]'><option value='' selected>请选择月租类型</option><option value='1'>固定租金</option></select></span> </div></div>";
            html += "<div class='row cl'> <label class='form-label col-xs-4 col-sm-3'> </label> <div class='formControls col-xs-4 col-sm-3'> <input type='text' class='input-text' value='' placeholder='' id='username' name='y_monthly_value[]'> </div></div>";
            html +="<div class='row cl'><label class='form-label col-xs-4 col-sm-3'><span class='c-red'>*</span>时间：</label><div class='formControls col-xs-4 col-sm-5'><input type='text' onfocus=WdatePicker("+maxDate+") id='"+minDateid+"' class='input-text Wdate li-date' name='y_time_begin[]'>至<input type='text' onfocus=WdatePicker("+minDate+") id='"+maxDateid+"' class='input-text Wdate li-date' name='y_time_end[]'></div></div>";
            html +="<div class='row cl'><label class='form-label col-xs-4 col-sm-3'><span class='c-red'>*</span>租金：</label><div class='formControls col-xs-4 col-sm-3'><input type='text' class='input-text' value='' placeholder='' id='username' name='y_rent[]'></div></div>";
        }else{
            html += "<div class='row cl'> <label class='form-label col-xs-4 col-sm-3'>月租类型：</label> <div class='formControls col-xs-4 col-sm-3'> <span class='select-box'><select class='select' size='1' name='monthly_type[]'><option value='' selected>请选择月租类型</option><option value='1'>固定租金</option><option value='2'>比例租金（如 填写1为增加百分之一的租金）</option></select></span> </div></div>";
            html += "<div class='row cl gg'> <label class='form-label col-xs-4 col-sm-3'> </label> <div class='formControls col-xs-4 col-sm-3'> <input type='text' class='input-text' value='' placeholder='' id='username' name='monthly_value[]'> </div></div>";
            html +="<div class='row cl'><label class='form-label col-xs-4 col-sm-3'><span class='c-red'>*</span>时间：</label><div class='formControls col-xs-4 col-sm-5'><input type='text' onfocus=WdatePicker("+maxDate+") id='"+minDateid+"' class='input-text Wdate li-date' name='time_begin[]'>至<input type='text' onfocus=WdatePicker("+minDate+") id='"+maxDateid+"' class='input-text Wdate li-date' name='time_end[]'></div></div>";
            html +="<div class='row cl'><label class='form-label col-xs-4 col-sm-3'><span class='c-red'>*</span>租金：</label><div class='formControls col-xs-4 col-sm-3'><input type='text' class='input-text' value='' placeholder='' id='username' name='rent[]'></div></div>";
        }
        html += '</div>';       
        document.getElementById(item_type).insertAdjacentHTML('beforeEnd',html);
        $(".gg").on("change keyup","input",function(){
            var zhi = parseInt($("input[name=basic_rent]").val());
            var plt = parseInt($(this).val());
            var sel = parseInt($(this).parent().parent().parent().find(".select").val());
            var zj = $(this).parent().parent().parent().find("input[name='rent[]']");
            if(sel == 1){
                zj.val(plt);
            }else{
                zj.val(zhi*plt/100+zhi);
            }
            })
            items_hash[item_type]++;
            //潘潘加a链接无跳转效果
        return false;
    }

    function addtransformerItem(item_type) {
        var html = "<div class='formControls col-xs-8 col-sm-12 '>";
        html += "<input type='text'  class='input-text li-transformer'   placeholder='数量' name='number[]'>";
        html += " <input type='text'  class='input-text li-transformer'   placeholder='详情（如500KW）' name='details[]'>";
        html += " <button class='btn ppremoveline' style='width: 10%'><i class='Hui-iconfont'>&#xe6a1;</i> </button>";
        html += '</div>';
        document.getElementById(item_type).insertAdjacentHTML('beforeEnd',html);
        items_hash[item_type]++;
        //潘潘加a链接无跳转效果
        return false;
    }

    function addelectricItem(item_type) {
        var len = $('#electric').children().length;
        var clas='contract-price'+items_hash[item_type];
        var html = "<div><div class='formControls col-xs-8 col-sm-12 '>";
        html += "<div class='formControls col-xs-8 col-sm-5'><div class='formControls col-xs-8 col-sm-9' style='position: relative;'><input type='text' class='input-text yq_input_"+len+"' value='' placeholder='请填写电表所在园区' id='' name='dtenantry_id[]' style='width:336px;margin-left:-15px;' autocomplete='off'><input type='hidden' name='dtenantry_zid[]'></div><ul class='keyword_yq_"+len+" keyword'></ul></div>";
        html += "<div class='formControls col-xs-8 col-sm-4'>";
        html += "<input type='text' class='input-text' value='' placeholder='电表名' id='username' name='d_name[]'>";
        html += "</div>";
        html += "<button class='btn ppremovelineelectric' style='width: 10%'><i class='Hui-iconfont'>&#xe6a1;</i> </button>";
        html += '</div>';

        html += "<div class='formControls col-xs-8 col-sm-12 '>";
        html += "<div class='formControls col-xs-8 col-sm-3'>";
        html += "<input type='text' class='input-text' value='' placeholder='电表初始度数' id='username' name='d_init_record[]'>";
        html += "</div>";
        html += "<div class='formControls col-xs-8 col-sm-2'>";
        html += "<input type='text' class='input-text' value='' placeholder='电表倍率' id='username' name='d_rate[]'>";
        html += "</div>";
        html += "<div class='formControls col-xs-8 col-sm-2'>";
        html += "<input type='text' class='input-text' value='' placeholder='损耗' id='username' name='d_loss[]'>";
        html += "</div>";
        html += '</div>';

        html += "<div class='formControls col-xs-8 col-sm-12 '>";
        html += "<div  id="+clas+">";
        html += "<div class='formControls col-xs-8 col-sm-10'>";
        html += "<input type='text' class='input-text li-transformer'  placeholder='开始读数'  name='d_readings_begin_"+len+"[]'>";
        html += " <input type='text' class='input-text li-transformer'  placeholder='结束读数'  name='d_readings_end_"+len+"[]'>";
        html += " <input type='text' class='input-text li-transformer'  placeholder='单价'  name='d_price_"+len+"[]'>";
        html += " <button class='btn ppremoveline' style='width: 7%'><i class='Hui-iconfont'>&#xe6a1;</i> </button>";
        html += '</div></div><a onclick="addcontractpriceItem(\''+clas+'\','+len+')" class="btn btn-default btn-sm">添加</a>';
        html += '</div></div>';

        document.getElementById(item_type).insertAdjacentHTML('beforeEnd',html);
         //公司
    keyword($(".yq_input_"+len),$(".keyword_yq_"+len),3);

    
     /*keyword模糊搜索函数
     * input输入框
     * downmask下拉框
     * 
     * */
     function keyword(input,downmask,type){
        input.bind('input porpertychange',function(e){
            var val = $(this).val();
            input.next("input").val('');
            if(val){
                $.ajax({
                    type:"post",
                    url:"{:url('Cuscontract/cuscontract_find')}",
                    data:{val:val,type:type},
                    success:function(data){
                        downmask.html(data);
                        downmask.show();
                        downmask.find('li').mouseover(function(e){
                            $(this).css('background-color','#5a98de');
                            $(this).css('color','#fff');
                            $(this).siblings().css('background-color','');
                            $(this).siblings().css('color','');
                        })
                        downmask.find('li').bind('click').on('click',function(e){
                            e.stopPropagation();
                            id = $(this).attr("li_id");
                            input.next("input").val(id);
                            input.val($(this).html());
                            $(this).closest('ul').hide();
                        })
                    },
                    async:true
                });
            }else{
                downmask.hide();
            }
            $(document).click(function(e){
                e.stopPropagation();
                downmask.hide();
            })
        })
    }
        items_hash[item_type]++;
        //潘潘加a链接无跳转效果
        return false;
    }
    function addcontractpriceItem(item_type,k) {
        var len = k;
        var html = "<div class='formControls col-xs-8 col-sm-10 '>";
        html += "<input type='text' class='input-text li-transformer'  placeholder='开始读数'  name='d_readings_begin_"+len+"[]'>";
        html += " <input type='text' class='input-text li-transformer'  placeholder='结束读数' name='d_readings_end_"+len+"[]'>";
        html += " <input type='text' class='input-text li-transformer'  placeholder='单价'  name='d_price_"+len+"[]'>";
        html += " <button class='btn ppremoveline' style='width: 7%'><i class='Hui-iconfont'>&#xe6a1;</i> </button>";
        html += '</div>';
        document.getElementById(item_type).insertAdjacentHTML('beforeEnd',html);
        items_hash[item_type]++;
        //潘潘加a链接无跳转效果
        return false;
    }

    function addwaterItem(item_type) {
        var len = $('#water').children().length;
        var clas='water-price'+items_hash[item_type];
        var html = "<div><div class='formControls col-xs-8 col-sm-12 '>";
        html += "<div class='formControls col-xs-8 col-sm-2'>";
        html += " <div class='formControls col-xs-8 col-sm-9' style='position: relative;'><input type='text' class='input-text sb_input_"+len+"' placeholder='请填写水表所在园区'  name='stenantry_id[]' style='width:117px;margin-left:-15px;' autocomplete='off'><input type='hidden' name='stenantry_zid[]' ><ul class='keyword_sb_"+len+" keyword'></ul></div>";
        html += "</div>";
        html += "<div class='formControls col-xs-8 col-sm-2'><input type='text' class='input-text' value='' placeholder='水表名' name='park_name[]'></div>";

        html += "<div class='formControls col-xs-8 col-sm-2 '>";
        html += "<input type='text' class='input-text' value='' placeholder='初始度数' name='s_init_record[]'>";
        html += "</div>";
        html += "<button class='btn ppremovelines' style='width: 10%'><i class='Hui-iconfont'>&#xe6a1;</i> </button>";
        html += '</div>';

        html +="<div class='formControls col-xs-8 col-sm-12'>";
        html +="<div class='formControls col-xs-8 col-sm-2'>";
        html +="<input type='text' class='input-text' value='' placeholder='倍率' name='s_rate[]'>";
        html +="</div>";
        html +="<div class='formControls col-xs-8 col-sm-2'>";
        html +="<input type='text' class='input-text' value='' placeholder='损耗' name='s_loss[]'>";
        html +="</div>";
        html +="<div class='formControls col-xs-8 col-sm-2'>";
        html +="<input type='text' class='input-text' value='' placeholder='分摊比例' name='s_share[]'>";
        html +="</div>";
        html +="</div>";

        html +="<div class='formControls col-xs-8 col-sm-12'>";
        html +="<div class='formControls col-xs-8 col-sm-10' id="+clas+">";
        html +="<div class='formControls col-xs-8 col-sm-12'>";
        html += "<input type='text' class='input-text li-transformer'  placeholder='开始读数' name='s_readings_begin_"+len+"[]'>";
        html += "<input type='text' class='input-text li-transformer'  placeholder='结束读数' name='s_readings_end_"+len+"[]'>";
        html += "<input type='text' class='input-text li-transformer'  placeholder='单价' name='s_price_"+len+"[]'>";
        html += "<button class='btn ppremoveline' style='width: 7%'><i class='Hui-iconfont'>&#xe6a1;</i> </button>";
        html += "</div></div>";
        html += '<a onclick="addcontractpriceItem(\''+clas+'\','+len+')" class="btn btn-default btn-sm">添加</a></div>';


        html += '</div>';
        document.getElementById(item_type).insertAdjacentHTML('beforeEnd',html);
        keyword($(".sb_input_"+len),$(".keyword_sb_"+len),3);

    
     /*keyword模糊搜索函数
     * input输入框
     * downmask下拉框
     * 
     * */
     function keyword(input,downmask,type){
        input.bind('input porpertychange',function(e){
            var val = $(this).val();
            input.next("input").val('');
            if(val){
                $.ajax({
                    type:"post",
                    url:"{:url('Cuscontract/cuscontract_find')}",
                    data:{val:val,type:type},
                    success:function(data){
                        downmask.html(data);
                        downmask.show();
                        downmask.find('li').mouseover(function(e){
                            $(this).css('background-color','#5a98de');
                            $(this).css('width','200px');
                            $(this).css('color','#fff');
                            $(this).siblings().css('background-color','');
                            $(this).siblings().css('color','');
                        })
                        downmask.find('li').bind('click').on('click',function(e){
                            e.stopPropagation();
                            id = $(this).attr("li_id");
                            input.next("input").val(id);
                            input.val($(this).html());
                            $(this).closest('ul').hide();
                        })
                    },
                    async:true
                });
            }else{
                downmask.hide();
            }
            $(document).click(function(e){
                e.stopPropagation();
                downmask.hide();
            })
        })
    }
        items_hash[item_type]++;
        //潘潘加a链接无跳转效果
        return false;
    }

</script>
<script type="text/javascript">
$(function(){
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
     $("#form-article-add").validate({
        rules:{
        },
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            $(form).ajaxSubmit({
                type: 'post',
                url: "{:url('Cuscontract/cuscontract_edit')}",
                success: function(data){
                    if(data == "success"){
                        layer.msg('修改成功!');
                        setTimeout(function () {
                            parent.location.reload();
                            },1000)
                    }else{
                        layer.msg(data);
                        return false;
                    }
                },
            });
        }
    });
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
