{include file="/Public/header"}

<title>水表抄表导入</title>
<meta name="keywords" content="优科达">
<meta name="description" content="优科达">
</head>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">选择园区：</label>
            <div class="formControls col-xs-8 col-sm-9">
            <span class="select-box inline">
                <select name="" class="select" id="park">
                <option value="0">全部园区</option>
                    {volist name="res['park']" id="vo"}
                    <option value="{$vo.id}">{$vo.name}</option>
                    {/volist}
                </select>
            </span>
            </div>
        </div>
        </form>
         <form action="" enctype="multipart/form-data" method="post" id="uploadForm" class="form form-horizontal">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">下载模板：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <a href="javascript:;" onclick="xzmb();" class="btn btn-link">导出水表抄表模板</a>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">导入：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="btn-upload form-group">
            <input class="input-text upload-url" type="text" name="uploadfile-2" id="uploadfile-2" readonly style="width:200px">
            <a href="javascript:;" class="btn btn-primary upload-btn" ><i class="Hui-iconfont">&#xe642;</i> 上传exel</a>
            <input type="file"  name="excel" class="input-file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"  id="file_excel">
            </span>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"  onclick="select_file_excel();return false;">
            </div>
        </div>
    </form>
</article>

{include file="/Public/footer"}

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="__PUBLIC__admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
     
});
function xzmb(){
    var id = $("#park").val();
    location.href="{:url('Cuscontract/water_excelout')}?id="+id;
}
 function select_file_excel() {
        var zhi = $("#file_excel").val();
        zlen = zhi.length;
        if(zhi == 0){
            layer.msg("请选择导入的水表信息");
        return false;
        }else{
            var file = $("#file_excel").val();
            if(!/.(xls|xlsx)$/.test(file)){
                layer.msg("只能导入 Excel 文件");
                return false;
            }
        }
        $.ajax({
            url: "{:url('Cuscontract/water_excelin')}",
            type: 'POST',
            cache: false,
            data: new FormData($('#uploadForm')[0]),
            dataType:'json',
            processData: false,
            contentType: false,
            success:function(json){
                //清空内容
                //返回提示信息
                //todo 待处理代码
                /*var len = json.indexOf("<br");
                var zhi = json.substring(0,len);*/
                ajaxobj=eval("("+json+")");
                if(ajaxobj['gg'] == "success"){
                    layer.msg("导入成功");
                    setTimeout(function () {
                            parent.location.reload();
                            },1000)
                }else{
                    layer.msg("导入失败");
                    location.href="{:url('Cuscontract/water_excelinmg')}?data="+json;
                }
            }
        });
    }
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>