{include file="/Public/header"}

<title>添加菜单</title>
<meta name="keywords" content="优科达">
<meta name="description" content="优科达">
</head>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">
        <div class="row cl">
        <input type="hidden" name="id" value="{$res.id}">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>菜单名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$res['auth_name']}" placeholder="" id="username" name="auth_name">
            </div>
        </div> 
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>控制器：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$res['auth_c']}" placeholder="" id="username" name="auth_c">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>方法：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$res['auth_a']}" placeholder="" id="username" name="auth_a">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">上级菜单：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                <select class="select" size="1" name="city">
                    {volist name="res['list']" id="vo"}
                        {if $res.auth_pid eq $vo.id}
                        <option value="{$vo.id}">{$vo.auth_name}</option>
                        {/if}
                    {/volist}
                    <option value="0">主菜单</option>
                    {volist name="res['list']" id="vo"}
                        {if $res.id neq $vo.id}
                        <option value="{$vo.id}">{$vo.auth_name}</option>
                        {/if}
                    {/volist}
                </select>
                </span> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="remark" cols="" rows="" class="textarea">{$res['remark']}</textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">拥有功能：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <label><input type="checkbox" name="auths" value="1" {if $res['auths']['add'] eq 1}checked{/if}/>添加</label>
                <label><input type="checkbox" name="auths" value="2" {if $res['auths']['edit'] eq 1}checked{/if}/>修改</label>
                <label><input type="checkbox" name="auths" value="3" {if $res['auths']['del'] eq 1}checked{/if}/>删除</label>
                <label><input type="checkbox" name="auths" value="4" {if $res['auths']['find'] eq 1}checked{/if}/>查询</label>
                <label><input type="checkbox" name="auths" value="5" {if $res['auths']['status'] eq 1}checked{/if}/>审查</label>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" onclick="listsadd();return false;">
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="/Public/footer"}<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="__PUBLIC__admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
     
});
function listsadd(){
    var id = $("input[name=id]").val();
    var auth_name = $("input[name=auth_name]").val();
    var auth_c = $("input[name=auth_c]").val();
    var auth_a = $("input[name=auth_a]").val();
    var pid = $(".select").val();
    var remark = $(".textarea").val();
    var auths = '';
    $("input[name=auths]:checked").each(function(){
        auths += $(this).val()+",";
    }); 
    $.post("{:url('Menu/listsedit')}",{id:id,auth_name:auth_name,auth_c:auth_c,auth_a:auth_a,pid:pid,remark:remark,auths:auths},function(data){
        if(data == "success"){
                 layer.msg('修改成功!');
                setTimeout(function () {
                    parent.location.reload();
                },1000)
        }else{
            layer.msg(data);
        }
    })
}
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>