{include file="/public/header"}

<title>新建网站角色 - 管理员管理 - H-ui.admin v3.0</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-admin-role-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$res['role']['role_name']}" placeholder="" id="roleName" name="roleName">
                <input type="hidden" class="input-text" value="{$res['role']['id']}" name="id">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
               <input type="text" class="input-text" value="{$res['role']['role_descript']}" placeholder="" id="" name="role_descript">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">网站角色：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 {volist name="res['list']" id="vo"}
                <dl class="permission-list">
                    <dt>
                        <label>
                            <input type="checkbox" {if $vo['xz'] eq 1}checked{/if} name="aaa">
                            {$vo.auth_name}</label>
                    </dt>
                    <dd>
                    {volist name="$vo['son']" id="v"}
                        <dl class="cl permission-list2">
                            <dt>
                                <label class="">
                                    <input type="checkbox" value="" name="user-Character-0-0" id="user-Character-0-0" {if $v['xz'] eq 1}checked{/if}>
                                    {$v.auth_name}</label>
                            </dt>
                            <dd>
                                {if $v.add eq 1}<label class="">
                                    <input type="checkbox" value="{$v.id}-1" name="auth[]" {if $v['role_1'] eq 1}checked{/if}>
                                    添加</label>{/if}
                                {if $v.edit eq 1}<label class="">
                                    <input type="checkbox" value="{$v.id}-2" name="auth[]" {if $v['role_2'] eq 2}checked{/if}>
                                    修改</label>{/if}
                                {if $v.del eq 1}<label class="">
                                    <input type="checkbox" value="{$v.id}-3" name="auth[]" {if $v['role_3'] eq 3}checked{/if}>
                                    删除</label>{/if}
                                {if $v.view eq 1}<label class="">
                                    <input type="checkbox" value="{$v.id}-4" name="auth[]" {if $v['role_4'] eq 4}checked{/if}>
                                    查看</label>{/if}
                                {if $v.excelin eq 1}<label class="">
                                    <input type="checkbox" value="{$v.id}-6" name="auth[]" {if $v['role_6'] eq 6}checked{/if}>
                                    导入</label>{/if}
                                {if $v.excelout eq 1}<label class="">
                                    <input type="checkbox" value="{$v.id}-7" name="auth[]" {if $v['role_7'] eq 7}checked{/if}>
                                    导出</label>{/if}
                            </dd>
                        </dl>
                        {/volist}
                    </dd>
                </dl>
                {/volist}
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="/public/footer"} <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
    $(".permission-list dt input:checkbox").click(function(){
        $(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
    });
    $(".permission-list2 dd input:checkbox").click(function(){
        var l =$(this).parent().parent().find("input:checked").length;
        var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
        if($(this).prop("checked")){
            $(this).closest("dl").find("dt input:checkbox").prop("checked",true);
            $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
        }
        else{
            if(l==0){
                $(this).closest("dl").find("dt input:checkbox").prop("checked",false);
            }
            if(l2==0){
                $(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
            }
        }
    });
    
    $("#form-admin-role-add").validate({
        rules:{
            roleName:{
                required:true,
            },
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            $(form).ajaxSubmit({
                type: 'post',
                url: "{:url('Admin/admin_role_edit')}",
                success: function(data){
                    if(data == "success"){
                        layer.msg('修改成功!');
                        setTimeout(function () {
                            parent.location.reload();
                            },1000)
                    }else{
                        layer.msg(data);
                        return false;
                    }
                },
            });
        }
    });
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>