{include file="/Public/header"}
<title>公司信息</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 企业管理 <span class="c-gray en">&gt;</span>公司列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
 <form action="{:url('Enterprise/company_list')}" method="post">
	<div class="bk-gray radius pd-10 col-xs-12 col-sm-12 ">
		<div class="mt-10 col-xs-12 col-sm-12">
			<strong class="col-xs-12 col-sm-2 text-r">日期范围：</strong>
			<div class="col-xs-12 col-sm-3">
                <input type="text" class="laydate-icon"  value="{$startime}" placeholder="开始时间" id="laydate" name="startime" style="width:92%;">
            </div>
            <div class="col-xs-12 col-sm-3">
                <input type="text" class="laydate-icon"  value="{$overtime}" placeholder="结束时间" id="laydate2" name="overtime" style="width:92%;">
            </div>
		</div>
		<div class="mt-10 col-xs-12 col-sm-12">
			<strong class="col-xs-12 col-sm-2 text-r">公司名称：</strong>
			<div class="col-xs-12 col-sm-6">
				<input type="text" class="input-text" placeholder="输入公司名称" id="name" name="name" value="{$name}">
			</div>
		</div>
		<div class="cl mt-10 col-xs-12 col-sm-12">
			<strong class="col-xs-12 col-sm-2 text-r"></strong>
			<div class="col-xs-12 col-sm-6">
				<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
			</div>
		</div>
	</div>
 </form>	
	<div class=" pd-5 bg-1 bk-gray mt-20  col-xs-12 col-sm-12">
		<span class="l">
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
			{if $lw_role.add eq 1}<a href="javascript:;" onclick="member_add('添加公司','{:url('Enterprise/company_add')}','800','600')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加公司</a>{/if}
		</span>
		<span class="r">

		</span>
	</div>
	<!--<div class="line"></div>-->
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th>ID</th>
				<th>公司名称</th>
				<th>营业执照</th>
				<th>地址</th>
				<th>法人代表</th>
				<th>联系电话</th>
				<th>开户银行</th>
				<th>开户帐号</th>
				<th>开户名</th>
				<th>对接联系人</th>
				<th>手机</th>
				<th>固定电话</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		  {volist name="res['list']" id="vo"}
			<tr class="text-c">
				<td><input type="checkbox" value="{$vo.id}" name="id"></td>
				<td>{$vo.num}</td> 
				<td>{$vo.name}</td> 
				<td>{$vo.license_number}</td> 
				<td>{$vo.address}</td>
				<td>{$vo.legal}</td>
				<td>{$vo.legal_mobile}</td>
				<td>{$vo.bank.name}</td>
				<td>{$vo.bank.bank_number}</td>
				<td>{$vo.bank.bank_name}</td>
				<td>{$vo.contact}</td>
				<td>{$vo.contact_mobile}</td>
				<td>{$vo.contact_phone}</td> 
				<td class="td-manage"><a title="编辑" href="javascript:;" onclick="member_edit('编辑','company-add.html','4','','510')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="member_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
			{/volist}
		</tbody>
	</table>
	</div>
</div>
{include file="/Public/footer"}
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>
 

<script type="text/javascript" src="__PUBLIC__admin/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__PUBLIC__admin/lib/laydate/laydate.js"></script>
<script type="text/javascript">
    //调用时间插件
    laydate({
        elem:"#laydate",  //ID选择器
        format:"YYYY-MM-DD hh:hh:hh",
        istime:true,
    });
    //调用时间插件
    laydate({
        elem:"#laydate2",  //ID选择器
        format:"YYYY-MM-DD hh:hh:hh",
        istime:true,
    });

</script>

<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
        "aaSorting": [[ 1, "asc" ]],//默认第几个排序
        "searching": false,//禁用原生搜索
        "bLengthChange": false,//禁用原生搜索
        "bStateSave": false,//状态保存
        "aoColumnDefs": [
          //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
          {"orderable":false,"aTargets":[0,5]}// 制定列不参与排序
        ]
    });
	
});
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*用户-停用*/
function member_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
				$(obj).remove();
				layer.msg('已停用!',{icon: 5,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

/*用户-启用*/
function member_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
				$(obj).remove();
				layer.msg('已启用!',{icon: 6,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
/*用户-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*密码-修改*/
function change_password(title,url,id,w,h){
	layer_show(title,url,w,h);	
}
/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script> 
</body>
</html>