{include file="/Public/header"}

<title>添加园区</title>
<meta name="keywords" content="优科达">
<meta name="description" content="优科达">
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>园区名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="name" name="name">
			</div>
		</div> 
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="address" name="address">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">公司：</label>
				<div class="formControls col-xs-8 col-sm-9" style="position: relative;">
					<input type="text" class="input-text company_input" value="" placeholder="" id="" name="">
					<input type="hidden" value="" id="company_id" name="company_id"></input>
					<ul class="keyword_company keyword">
						
					
					</ul>
				</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">账户：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text bank_input" value="" placeholder="" id="" name="">
				<input type="hidden" value="" id="bank_id" name="bank_id"></input>
				<ul class="keyword_bank keyword">
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
				</ul>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">财务人：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text money_input" value="" placeholder="" id="username" name="username">
				<input type="hidden" value="" id="finance_id" name="finance_id"></input>
				<ul class="keyword_money keyword">
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
				</ul>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">管理人：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text person_input" value="" placeholder="" id="username" name="username">
				<input type="hidden" value="" id="managers_id" name="managers_id"></input>
				<ul class="keyword_person keyword">
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
					<li>哈哈哈哈</li>
				</ul>
			</div>
		</div> 
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

{include file="/Public/footer"}

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="__PUBLIC__admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>

<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	//公司
	keyword($(".company_input"),$(".keyword_company"),1);
	//账户
	keyword($(".bank_input"),$(".keyword_bank"),2);
	//财务
	keyword($(".money_input"),$(".keyword_money"),3);
	//管理人
	keyword($(".person_input"),$(".keyword_person"),4,);
	
	/*keyword模糊搜索函数
	 * input输入框
	 * downmask下拉框
	 * 
	 * */
	function keyword(input,downmask,type,id){
		input.bind('input porpertychange',function(e){
			var val = $(this).val();
			if(val){
				
				$.ajax({
					type:"post",
					url:"{:url('Enterprise/garden_selectinfo')}",
					data:{name:val,type:type},
					success:function(data){
                        downmask.html(data);
                        downmask.show();
						downmask.find('li').mouseover(function(e){
		 					$(this).css('background-color','#5a98de');
		 					$(this).css('color','#fff');
		 					$(this).siblings().css('background-color','');
		 					$(this).siblings().css('color','');
		 				})
		 				downmask.find('li').bind('click').on('click',function(e){
		 					e.stopPropagation();
		 					input.val($(this).html());
		 					$(this).closest('ul').hide();
		 				})
					},
					async:true
				});
			}else{
				downmask.hide();
			}
			$(document).click(function(e){
				e.stopPropagation();
				downmask.hide();
			})
		})
	}
	 
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>